@import "components/palette";
@import "mixins.scss";
@import "skeleton-loader.scss";

$grayDark: #5D5D5D;
$grayLight: #E5E5E5;
$main: #F6F6F6;

body {
  background-color: $main;
}

.main {
  background-color: $main;
}

.overview {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 18px;
  color: $grayDark;
  margin: 20px;
}

.dashboard {
  margin: 0px auto;
  max-width: none;
  width: auto;
  padding: 0px;
  display: grid;
  grid-template-columns: 70% 30%;
  column-gap: 15px;

  &.showLoader {
    grid-template-columns: 100%;
    padding: 1rem;
  }

  @include respond-down($xl) {
    & {
      grid-template-columns: 65% 35%;
    }
  }

  @include respond-down($lg) {
    grid-template-columns: 100%;
  }

  @include respond-down($md) {
    grid-template-columns: 100%;
  }

  .col-right {
    height: 100%;

    .row {
      margin-bottom: 15px;
    }

    .title {
      font-size: 18px;
    }
  }

  .welcome {
    margin: 20px;
    background: #fff;
    border: solid 1px;
    border-color: #E5E5E5;
    border-radius: 4px;
    padding: 20px;
    position: relative;

    .welcome_container {
      display: flex;
    }

    .welcome_big {
      font-size: 18px;
      font-weight: 800;
    }

    .welcome_message {
      margin-right: 10px;
      width: 16%;
    }

    .columns {
      display: flex;
      width: 90%;

      @include respond-down($xl) {
        & {
          width: 60%;
          flex-wrap: wrap;
        }
      }
    }

    .colum {
      width: 20%;
      height: 60px;
      margin: 0px 5px;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;

      @include respond-down($xl) {
        & {
          width: 46%;
          margin: 5px;
        }
      }



      &__description {
        padding: 0 15px;
        text-align: right;
        display: flex;
        align-items: revert;
        flex-direction: column;
        justify-content: center;
      }

      &__icon {
        display: flex;
        align-items: center;
        padding: 0 10px;

        i {
          font-size: 27px;
        }
      }
    }

    .img {
      display: inline-block;
      position: absolute;
      width: 150px;
      width: 130px;
      right: -20px;
      top: -20px;

      img {
        max-width: 100%;
      }
    }

  }


  h5 {
    color: $grayDark;

    a {
      color: $grayDark;
    }
  }


  .collection {
    box-shadow: none;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    margin: 10px;
    overflow: hidden;

    .sub-header {
      font-size: 13px;
      margin: 10px 0px !important;
    }

    .collection-item.avatar {
      min-height: auto;
      border: 0;

      .title {
        font-weight: 600;
      }

      a {
        color: #444;
      }

      a.secondary-content {
        color: $grayDark;
      }

      &.collection-header {
        padding-left: 15px;

        h5,
        p {
          margin: 0px;
        }
      }
    }
  }

  .panel {
    box-shadow: none;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    margin: 10px 0px;
    background: #fff;
    min-height: 457px;

    .title {
      position: relative;

      img {
        position: absolute;
        top: 10px;
        right: 10px;
      }

      h5 {
        margin: 0;
        padding: 10px 10px 0px 10px;
      }

      .subtitle {
        padding: 0px 10px 10px;
        font-size: 13px;
      }

      a.dropdown-trigger.btn.right.btn-floating.halfway-fab.waves-effect.waves-light {
        bottom: auto;
        top: 50px;
        background-color: #fb9678;
      }
    }

    .contents {
      display: block;

      table ul {
        padding: 0px 0px 0px 20px;
        margin: 0;
      }
    }

    .panel-boddy {
      padding: 20px 15px 15px;
    }
  }
}

.albumes {
  .card-image-container {
    position: relative;
    height: 140px;
    border-radius: 5px;
    overflow: hidden;
  }

  .card.album {
    box-shadow: none;
    overflow: hidden;
  }

  .card-image {
    height: 140px;
    border-radius: 5px;
  }

  .album .card-content {
    display: block;
    padding: 10px 0px;
    min-height: auto;

    .card-title {
      display: block;
      line-height: 16px;
      margin-bottom: 8px;

      a {
        color: #444;
        font-size: 17px;
      }
    }
  }
}

.panel .title {
  a.dropdown-trigger {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #fff;

    i {
      color: #fff;
    }
  }
}

.fileExplorerCollection-root {
  .collection {
    max-height: 360px;
    overflow: scroll;
    border: 0;
  }
}

.chart {
  background: #FFFFFF;
  border-radius: 10px;
  width: 46%;
  box-shadow: 4px 3px 16px #0000001f;
  margin: 18px 0px;
  padding: 15px;

  @include respond-down($md) {
    width: 100%;
  }
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;

  .chart-header {
    margin: 0 0 10px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
  }

  .chart-body {
    display: flex;

    .col1 {
      width: 70%;
      max-height: 130px;
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      justify-content: center;
    }

    .col1:only-child {
      width: 100%;
    }

    .chart-4 {
      max-height: 160px;
    }

    .chart-big-number {
      font-size: 22px;
      font-weight: 800;
    }

    span.chart-title {
      font-size: 13px;
    }

    .col2 {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 20px 0px;
      justify-content: space-evenly;
    }
  }
}


.page-widget {
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;

  button {
    border-radius: 0;

    &:focus {
      outline: 1px dotted;
      outline: 5px auto -webkit-focus-ring-color;
    }

    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
  }

  html [type="button"] {
    -webkit-appearance: button;
  }

  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }

  h3 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 1.75rem;
  }

  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.85rem 1.15rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out,
      background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
      outline: 0;
      -webkit-box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.25);
      box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.25);
    }

    &:disabled {
      opacity: 0.65;
    }
  }

  @media screen and (prefers-reduced-motion: reduce) {
    .btn {
      -webkit-transition: none;
      transition: none;
    }
  }

  .btn-secondary {
    color: #212529;
    background-color: #ebedf2;
    border-color: #ebedf2;

    &:hover {
      color: #212529;
      background-color: #d4d8e3;
      border-color: #ccd1de;
    }

    &:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(235, 237, 242, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(235, 237, 242, 0.5);
    }

    &:disabled {
      color: #212529;
      background-color: #ebedf2;
      border-color: #ebedf2;
    }
  }

  .btn-sm {
    padding: 0.45rem 0.8rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }

  .btn-brand {
    color: #fff;
    background-color: #716aca;
    border-color: #716aca;

    &:hover {
      color: #fff;
      background-color: #564ec0;
      border-color: #4d44bd;
    }

    &:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(113, 106, 202, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(113, 106, 202, 0.5);
    }

    &:disabled {
      color: #fff;
      background-color: #716aca;
      border-color: #716aca;
    }
  }

  html button,
  body button {
    outline: none !important;
  }

  .m--font-brand {
    color: #716aca !important;
  }

  .m--font-light {
    color: #fff !important;
  }

  .btn {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    cursor: pointer;
    border-radius: 0;
    border-radius: 0.25rem;
    text-transform: capitalize;

    &:hover,
    &:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    &.m-btn--pill {
      border-radius: 60px;
    }

    &.m-btn--custom {
      padding: 0.75rem 2rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 0.7rem;
    }
  }

  button {

    &:active,
    &:focus {
      outline: none !important;
    }
  }

  .btn {
    &.btn-secondary {
      background: white;
      border-color: #ebedf2;

      &:active,
      &:focus {
        border-color: #ebedf2;
        background-color: #f4f5f8;
      }

      &:disabled {
        border-color: #f4f5f8;
      }
    }

    &.m-btn--hover-brand {

      &:hover,
      &:active,
      &:focus {
        border-color: #716aca !important;
        color: #fff !important;
        background-color: #716aca !important;
      }
    }

    &.btn-brand {
      color: #fff;

      &:focus {
        color: #fff !important;
      }
    }
  }

  .m-portlet {
    .m-portlet__head {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0;
      padding: 0 2.2rem;
      height: 5.1rem;
      position: relative;

      .m-portlet__head-caption {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: start;
        align-content: flex-start;
      }

      &.m-portlet__head--fit {
        position: relative;
        z-index: 1;
      }
    }

    .m-portlet__body {
      padding: 2.2rem 2.2rem;
    }

    &.m-portlet--bordered-semi .m-portlet__body {
      padding-top: 0.5rem;
    }

    &.m-portlet--rounded-force {
      overflow: hidden;
    }

    .m-portlet-fit--sides {
      margin-left: -2.2rem;
      margin-right: -2.2rem;
    }

    .m-portlet-fit--top {
      margin-top: -7.3rem;
    }

    &.m-portlet--bordered-semi .m-portlet-fit--top {
      margin-top: -5.6rem;
    }

    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    background-color: #fff;

    .m-portlet__head {
      border-bottom: 1px solid #ebedf2;
    }

    .m-portlet__body {
      color: #575962;
      min-height: 140px;
    }

    &.m-portlet--bordered-semi .m-portlet__head {
      border: 0;
    }
  }

  @media (min-width: 1025px) {
    .m-portlet.m-portlet--full-height {
      height: calc(100% - 2.2rem);

      .m-portlet__body {
        height: calc(100% - 2.2rem - 2.2rem);
      }
    }
  }

  .m-widget19 {
    .m-widget19__pic {
      position: relative;

      >img {
        width: 100%;
      }

      .m-widget19__shadow {
        position: absolute;
        top: 70%;
        bottom: 5px;
        left: 0;
        right: 0;
      }

      .m-widget19__title {
        position: absolute;
        bottom: 0;
        display: block;
        z-index: 1;
        padding-left: 2.2rem;
        padding-bottom: 1.1rem;
        width: 100%;
      }
    }

    .m-widget19__content {
      margin-bottom: 1rem;

      .m-widget19__header {
        display: table;
        margin-top: 1rem;
        margin-bottom: 1rem;

        .m-widget19__user-img {
          display: table-cell;
          margin-top: 0.4rem;
          vertical-align: middle;

          .m-widget19__img {
            width: 3.2rem;
            border-radius: 50%;
          }
        }

        .m-widget19__info {
          display: table-cell;
          width: 100%;
          padding-left: 1rem;
          font-size: 1rem;
          vertical-align: middle;
          line-height: 0;

          .m-widget19__username {
            display: inline-block;
            margin-bottom: 1.4rem;
            font-size: 1rem;
            font-weight: 500;
          }

          .m-widget19__time {
            display: inline-block;
            font-size: 0.85rem;
          }
        }

        .m-widget19__stats {
          display: table-cell;
          font-size: 1rem;
          font-weight: 500;
          vertical-align: middle;
          line-height: 0;
          text-align: center;

          .m-widget19__number {
            text-align: center;
            display: inline-block;
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
            font-weight: 600;
          }

          .m-widget19__comment {
            display: inline-block;
            font-size: 0.85rem;
          }
        }
      }

      .m-widget19__body {
        font-size: 1rem;
        text-align: justify;
        color: #898b96 !important;

        & * {
          font-size: 1rem;
          text-align: justify;
          margin: 0;
        }
      }
    }

    .m-widget19__action {
      margin-top: 1.5rem;
    }

    .m-widget19__pic .m-widget19__shadow {
      background: -webkit-gradient(linear,
          left top,
          left bottom,
          color-stop(20%, rgba(0, 0, 0, 0)),
          color-stop(40%, rgba(0, 0, 0, 0.1)),
          color-stop(90%, rgba(0, 0, 0, 0.6))) no-repeat scroll 0 0;
      background: linear-gradient(to bottom,
          rgba(0, 0, 0, 0) 20%,
          rgba(0, 0, 0, 0.1) 40%,
          rgba(0, 0, 0, 0.6) 90%) no-repeat scroll 0 0;
    }

    .m-widget19__content {
      .m-widget19__time {
        color: #7b7e8a;
      }

      .m-widget19__username {
        color: #575962;
      }

      .m-widget19__comment {
        color: #afb2c1;
      }

      .m-widget19__body {
        color: #898b96;
        min-height: 140px;
      }
    }
  }
}

.creator {
  .creator-container {
    background: $main;
    border-radius: 6px;
    border: solid 1px $grayLight;
    padding: 10px;
    margin: 20px 10px 10px;
  }

  .user-avatar {
    display: flex;

    span {
      color: $grayDark;
      line-height: 30px;
    }

    img {
      height: 30px;
      margin-right: 10px;
    }
  }

  .creator-input-field {
    margin: 10px 0px;
  }

  .creator-options {
    display: flex;
    justify-content: space-between;

    .options-icons i {
      line-height: 36px;
      width: 25px;
      cursor: pointer;
      margin: 0 5px;

      &.active {
        color: #26a69a;
      }
    }
  }

  .title {
    margin: 20px 0px;
    font-size: 20px;
  }

}

.drafts {
  .collection {
    box-shadow: none;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    margin: 10px;
    overflow: hidden;
  }
}

.timeline {
  .card.horizontal {
    display: flex;
    flex-direction: row;
    margin: 20px 10px;

    .card-options {
      position: absolute;
      right: 0px;
      top: 5px;
    }
  }

  .card-image {
    width: 30%;
    height: 170px;
    max-height: none;
    background-size: cover;
    background-position: center;
    min-width: 80px;
  }

  .card-header {
    display: flex;
    flex-direction: row;
  }

  .card-header img {
    height: 40px;
    margin: 10px 10px 0px 15px;
  }

  .card-info {
    margin: 10px 0px;
    line-height: 20px;
  }

  .card-content,
  .card-action {
    padding: 0px 15px;
  }

  .timeline-container {
    max-height: 1200px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .card-stacked {
    width: 70%;
  }

  .truncate.title {
    font-size: 15px;
    width: 130px;
  }

  .truncate.datetime {
    font-size: 12px;
  }

  .card-content {
    font-size: 13px;
  }

  .card-action {
    padding: 8px 10px;
  }
}