.bg-color1 {
  background: #68d8df !important;
}

.bg-color2 {
  background: #98e4e4 !important;
}

.bg-color3 {
  background: #fb9678 !important;
}

.bg-color4 {
  background: #646b7f !important;
}

.bg-color5 {
  background: #edf0f5 !important;
}

.banner {
  .card-image:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.42);
    display: block;
  }

  i {
    position: absolute;
    top: -56px;
    left: 20px;
    font-size: 14px;
    padding: 10px;
  }

  .avatar {
    position: relative;
    height: 0;
    width: auto;
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 50%;
    width: 180px;
    margin-left: -90px;

    img {
      width: 180px;
      height: 180px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .card-image {
    max-height: 225px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    img {
      z-index: 9;
    }
  }
}

/*! CSS Used from: https://adminlte.io/themes/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css */

a {
  background-color: transparent;

  &:active,
  &:hover {
    outline: 0;
  }
}

img {
  border: 0;
}

@media print {
  *,
  :after,
  :before {
    color: #000 !important;
    text-shadow: none !important;
    background: 0 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  a {
    text-decoration: underline;

    &:visited {
      text-decoration: underline;
    }

    &[href]:after {
      content: " (" attr(href) ")";
    }

    &[href^="#"]:after {
      content: "";
    }
  }

  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #337ab7;
  text-decoration: none;

  &:focus,
  &:hover {
    color: #23527c;
    text-decoration: underline;
  }

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

img {
  vertical-align: middle;
}

h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

/*! CSS Used from: https://adminlte.io/themes/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css */

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-user:before {
  content: "\f007";
}

.fa-clock-o:before {
  content: "\f017";
}

.fa-camera:before {
  content: "\f030";
}

.fa-video-camera:before {
  content: "\f03d";
}

.fa-comments:before {
  content: "\f086";
}

.fa-envelope:before {
  content: "\f0e0";
}

/*! CSS Used from: https://adminlte.io/themes/AdminLTE/dist/css/AdminLTE.min.css */

h3 {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: #3c8dbc;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
    color: #72afd2;
  }
}

.timeline {
  position: relative;
  margin: 20px 0 30px 0;
  padding: 0;
  list-style: none;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    left: 31px;
    margin: 0;
    border-radius: 2px;
  }

  > {
    li {
      position: relative;
      margin-right: 10px;
      margin-bottom: 15px;

      &:before {
        content: " ";
        display: table;
      }

      &:after {
        content: " ";
        display: table;
        clear: both;
      }

      .timeline-item {
        width: 90%;
        margin-left: 10%;
        .pages {
          max-width: 90%;
        }
      }

      > {
        .timeline-item {
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          margin-top: 0;
          background: #fff;
          color: #444;
          margin-left: 60px;
          margin-right: 15px;
          padding: 0px 0px 20px;
          position: relative;

          > {
            .time {
              color: #999;
              float: right;
              padding: 10px;
              font-size: 12px;
            }

            .timeline-header {
              margin: 0;
              color: #555;
              border-bottom: 1px solid #f4f4f4;
              padding: 10px;
              font-size: 16px;
              line-height: 1.1;

              > a {
                font-weight: 600;
              }
            }
          }
          .timeline-body,
          .timeline-footer {
            padding: 10px;
          }
        }

        .fa {
          width: 30px;
          height: 30px;
          font-size: 15px;
          line-height: 30px;
          position: absolute;
          color: #666;
          background: #d2d6de;
          border-radius: 50%;
          text-align: center;
          left: 18px;
          top: 0;
        }
      }
      .pages {
        .card-image:after {
          height: calc(100% + 20px);
        }
        .card .card-content .card-title i {
          position: relative;
          top: 5px;
        }

        .card .card-content .card-title {
          margin-top: 10px;
        }
      }
    }

    .time-label > span {
      font-weight: 600;
      padding: 5px;
      display: inline-block;
      background-color: #fff;
      border-radius: 4px;
    }
  }
}

.margin {
  margin: 10px;
}

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-green,
.bg-purple,
.bg-maroon {
  color: #fff !important;
}

.bg-gray {
  color: #000;
  background-color: #d2d6de !important;
}

.bg-red {
  background-color: #dd4b39 !important;
}

.bg-yellow {
  background-color: #f39c12 !important;
}

.bg-aqua {
  background-color: #00c0ef !important;
}

.bg-blue {
  background-color: #0073b7 !important;
}

.bg-green {
  background-color: #00a65a !important;
}

.bg-purple {
  background-color: #605ca8 !important;
}

.bg-maroon {
  background-color: #d81b60 !important;
}

.no-border {
  border: 0 !important;
}

/*! CSS Used fontfaces */
@font-face {
  font-family: "FontAwesome";
  src: url("https://adminlte.io/themes/AdminLTE/bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("https://adminlte.io/themes/AdminLTE/bower_components/font-awesome/fonts/fontawesome-webfont.eot#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("https://adminlte.io/themes/AdminLTE/bower_components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0")
      format("woff2"),
    url("https://adminlte.io/themes/AdminLTE/bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0")
      format("woff"),
    url("https://adminlte.io/themes/AdminLTE/bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0")
      format("truetype"),
    url("https://adminlte.io/themes/AdminLTE/bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
