@font-face {
    font-family: 'Moon 2.0';
    src: url('Moon20-Bold.woff2') format('woff2'),
        url('Moon20-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Moon 2.0';
    src: url('Moon20-Light.woff2') format('woff2'),
        url('Moon20-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Moon 2.0';
    src: url('Moon20-Regular.woff2') format('woff2'),
        url('Moon20-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

