/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

li.breadcrumb-item {
  display: inline-block;
  color: #444;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  margin: 0 10px 0 8px;
  -webkit-font-smoothing: antialiased;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

img.card-img-top {
  max-width: 100%;
}

figure.wp-block-image img {
  max-width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

nav.breadcrumbs {
  background: #009688;
  padding: 0px 10px;
}

.pagination li.active {
  background-color: #009688;
}

.card .card-content .card-title {
  margin: 0px 0px 15px;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
