$color1: #68d8df;
$color2: #98e4e4;
$color3: #fb9678;
$color4: #646b7f;
$color5: #edf0f5;

$teal: #26A69A;
$pink: #FB9678;

$white: #fff;
$black: #000;
$gray-text: #5D5D5D;

$gray: #5D5D5D;
$grayLight: #E5E5E5;

$colors: ("teal": $teal,
    "pink" : $pink,
    "white" : $white,
    "black": $black,
    "gray" : $gray, "gray-light" : $grayLight);


@each $colorname,
$color in $colors {
    .st-#{$colorname} {
        background-color: $color;
    }

    .text-st-#{$colorname} {
        color: $color;
    }
}