/* Coolors Exported Palette - coolors.co/68d8df-98e4e4-fb9678-646b7f-edf0f5 */

/* RGB */
$color1: #68d8df;
$color2: #98e4e4;
$color3: #fb9678;
$color4: #646b7f;
$color5: #edf0f5;

$white: #fff;
$black: #000;
$gray: #5F6366;

$gray-text: #5D5D5D;

.bg-color1 {
    background: $color1 !important;
}

.bg-color2 {
    background: $color2 !important;
}

.bg-color3 {
    background: $color3 !important;
}

.bg-color4 {
    background: $color4 !important;
}

.bg-color5 {
    background: $color5 !important;
}